.footer {
  --primary: #1f3a5f;    /* azul profundo (confianza) */
  --text-white: white;
  display: grid;
  background: var(--primary);
  /*https://colorhunt.co/ visitar para tener 
  una mejor interfaz visual
  https://colorhunt.co/palette/f6f0d7c5d89d9cab8489986d*/
  color: var(--text-white);
}