.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #89986D ;
  /*https://colorhunt.co/ visitar para tener 
  una mejor interfaz visual*/
  backdrop-filter: blur(20px);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.logo-icon {
  font-size: 2.5em;
}

.logo-img {
  width: 100px;
  height: auto;
}
.logo-h1 {
  font-size: 1.8em;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1em;
  transition: opacity 0.3s;
  position: relative;
}

.nav a:hover {
  opacity: 0.8;
}

.nav a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: row;
    gap: 20px;
  }
  h1{

  }
  .nav {
    gap: 20px;
  }

  .logo h1 {
    font-size: 1.4em;
  }
  .logo-img {
  width: 70px;
  height: auto;
}

}
