.hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #C5D89D;
  text-align: center;
  padding: 2rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
}

.hero-button {
  padding: 0.8rem 1.5rem;
  background-color: #000;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.hero-button:hover {
  background-color: #333;
}
