.hero {
  --secondary: #e8f1f8;
  --textdark: #1c1c1c;
  --accent: #c9a24d;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--secondary);
  text-align: center;
  padding: 2rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
}

.hero-button {
  padding: 0.8rem 1.5rem;
  background-color: var(--accent);
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.hero-button:hover {
  background-color: #333;
}
