.properties-section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
}

.properties-grid {
  display: flex ;
  /*grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
  grid-template-columns: repeat(auto-fill , minmax(280px, 1fr));
  gap: 2rem;
}

.property-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.property-card:hover {
  transform: translateY(-5px);
}

.property-image {
  max-width: 100%;
  height: 12em;
  background-color: #ddd;
}
.property-image img{
  width: auto;
  height: 12em;
  object-fit: fill;
}

.property-info {
  padding: 1.2rem;
}

.property-info h3 {
  margin: 0;
}

.location {
  color: #666;
}

.price {
  font-weight: bold;
  color: #c9a24d;
  margin: 0.5rem 0;
}

.property-info button {
  width: 100%;
  padding: 0.6rem;
  background-color: #1f3a5f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Dispositivos mobiles*/
@media (max-width: 480px) {
  .properties-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px, 1fr));
    font-size: 1em;
    padding: 0.5rem;
    gap: 2;
  }
}

/* tablet*/
@media (min-width: 600px) and (max-width: 1024px) {
  .properties-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px, 1fr));
    gap: 2;
  }
}