.App {
  text-align: center;
  --primary: #1f3a5f;    /* azul profundo (confianza) */
  --secondary: #e8f1f8;  /* azul muy claro */
  --accent: #c9a24d;     /* dorado suave (valor) */
  --background: #f7f9fb; /* fondo limpio */
  --text-dark: #1c1c1c;
  /*background-color: #5edcff;*/
  background-color: var(--background);
  color: var(--text-dark);
}

div{
  display: grid;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-dark);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
